
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background: rgb(196,255,110);
background: linear-gradient(90deg, rgba(196,255,110,1) 21%, rgba(114,171,255,1) 45%, rgba(187,255,251,1) 67%, rgba(255,69,210,1) 91%);
}

#status
{
font-size: 18px;
}
body{
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
}
canvas{
    box-shadow: 10px 10px 10px red;
    border-radius: 10px;
    border-width: 2px;
    border-style: groove;
    border-color: red;
}